<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>auto-deploy-app</title>
    <style>
      .welcome-wrap {
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app">
      <div class="welcome-wrap">
        <div>
          <h2>🎉 Welcome to auto-deploy-app ✨</h2>
          <h2>⏳ Page Loading......</h2>
        </div>
      </div>
    </div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
